  <div class="header-nav">
    <a href="#" class="header-brand">
    </a>
  </div>
    <div class="header-divider-auto">
      <div class="header-divider-center">
      </div>
    </div>
    <div class="body-hero">
      <div class="row-hero">
        <div class="column-hero">
            <app-custom></app-custom>
        </div>
        <div class="column-hero">
            <app-custom></app-custom>
        </div>
        <div class="column-hero">
            <app-custom></app-custom>
        </div>
      </div>
      <div class="row-hero">
          <div class="column-hero">
              <app-custom></app-custom>
          </div>
          <div class="column-hero">
              <app-custom></app-custom>
          </div>
          <div class="column-hero">
              <app-custom></app-custom>
          </div>
      </div>
      <div class="row-hero">
          <div class="column-hero">
              <app-custom></app-custom>
          </div>
          <div class="column-hero">
              <app-custom></app-custom>
          </div>
          <div class="column-hero">
              <app-custom></app-custom>
          </div>
      </div>
      <div class="row-hero">
          <div class="column-hero">
              <app-custom></app-custom>
          </div>
          <div class="column-hero">
              <app-custom></app-custom>
          </div>
          <div class="column-hero">
              <app-custom></app-custom>
          </div>
      </div>
    </div>
  <footer class="footer-owner">
    <div class="row-owner">
      <div class="col-owner">

      </div>
      <div class="col-owner">

      </div>
    </div>
  </footer>